
*{
box-sizing: border-box;  

}
.home{
  width: 100%;
  display: flex;
 flex-direction: column;
}
.homeContent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -8px;

}
.img{
  width: 100%;
  height: 40rem;
  margin: 0;
}
.sliderContainer {
  width: 100%;
  height: 100%;
  
}
.slick-slider {
  width: 100%;
  height: 100%;
  
}

.slick-slide { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.imgContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.554), rgba(0, 0, 0, 0.668)); /* Ajuste o gradiente conforme necessário */
  z-index: 1; 
  pointer-events: none; 
}

.slick-slide img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: transform 1s ease-in-out;
}

.slick-slide img:hover {
  transform: scale(1.05); 
}
.customArrow {
  position: absolute;
  top: 50%;
  width: 60px; 
  height: 60px; 
  background-color: transparent; 
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.8); 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transform: translateY(-50%);
  font-size: 30px; 
}


.customArrow::before {
  content: '';
}

.slick-prev {
  left: 10px !important;

}

.slick-next {
  right: 10px !important;
}
.contentHome {
  margin: 0;
  height: 100%;
  color: rgb(255, 255, 255);
  margin: 0 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 2;
}

.contentHome h1 {
  font-size: 2.5rem;
}

.contentHome h3 {
  font-size: 2rem;
  font-weight: 500;
}

.contentHome span {
  color: rgb(146, 117, 60);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
  width: 100%;
  margin-top: 2rem;
}

.contentHome a {
  height: 1rem;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: 2px solid rgb(146, 117, 60);
  color: rgb(255, 255, 255);
  margin-left: 1rem;
  transition: 1s;
}

.contentHome a:hover {
  background-color: rgb(146, 117, 60);
  border: 2px solid rgb(146, 117, 60);
}
/* VIDEO  */
.video {
  height: 100%;
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}
/* Contêiner para o ícone e a bola */
.iconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playIcon {
  animation: pulse 1.5s infinite;
  cursor: pointer;
  z-index: 1; /* Garante que o ícone esteja sobre a bola */
  transition: transform 0.3s ease-in-out;
}

.bola {
  position: absolute;
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px; /* Ajuste o tamanho conforme necessário */
  border-radius: 50%;
  background:  rgb(180, 138, 56); /* Cor e opacidade da bola */
  animation: pulseBall 1.5s infinite;
  z-index: 0; /* Bola fica abaixo do ícone */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseBall {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}


.videoModalOverlay {
  background: rgba(0, 0, 0, 0.75); 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; 
}

.videoModal {
  position: relative;
  width: 80%;
  height: 70%;
  max-width: 900px; 
  max-height: 800px; 
  background: #fff;
  border-radius: 8px;
  z-index: 1001; 
}
.videoModal iframe {
  width: 100%;
  height: 100%;
  border: none;
}
 iframe {
  z-index: 999;
  width: 50%;
  height: 50%;
 display: flex;
 justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 8px;
}
.closeButton {
  position: absolute;
  top: 10px;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  z-index: 1002; 
}

/* MAIN  */
.contrateSection{
  display: flex;
  background: linear-gradient(rgba(22, 22, 22, 0.831),rgba(8, 5, 5, 0.814)), url(../assets/drink1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
  width: 42%;
  height: 30rem;
  margin-left: 9rem;
  margin-top: 6rem;
  gap: 1rem;
}
.contrateNos{
  color: gray;
  font-size: 1.5rem;
  font-weight: 500;
}
.content h3{
 width: 15rem;
 font-size:1rem;
  font-family: "Montserrat", sans-serif;
 color: rgb(146, 117, 60) ;
}
.content h4{
 width: 30rem;
 font-size:1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2.6rem;
 color: white;
}
.content span{
  color: rgb(146, 117, 60);
  font-size: 3rem;
}
.content p{
  width: 29rem;
  font-weight: 500;
  line-height: 1.2rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 4rem;
  color: rgb(176, 174, 170);
}

/* VIDEO  */
.contentvideo{
  height: 40%;
  margin: 6rem 2rem;

}
.contentvideo iframe{
border-radius: 1rem;
width: 40rem;
height: 22rem;
}
  

.contentBtn a{
background-color: transparent;
border:2px solid rgb(146, 117, 60);
color:   rgb(255, 255, 255);
padding: 1rem;
border-radius: 1rem;
margin-left: 24rem;
transition: 0.8s;

}
.contentBtn a:hover{
background-color: rgb(146, 117, 60);
color: black;

}

/* SERVICOS  */
.section{
  margin-top: 10rem;
  height: 100%;

}
.section span{
  color: rgb(146, 117, 60);
  font-size: 3rem;
}
.section h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 2.8rem;
}
.sectionContainer{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  
}

.sectionContainer img{
  width: 20rem;
  height: 15rem;
  border-radius:  0.3rem;
}
.sectionContainer img:hover{
  transform: translateY(-5px);
}

/* PACOTES  */
.sectionPacotes{
 background-color:rgb(0, 0, 0) ; 
 height: 50rem;
}
.pacoteTitle{
  width: 90%;
  height: 15%;
  margin: 0 9rem 0;
  color: wheat;
  
}
.pacoteTitle h1{
 font-size: 1rem;
 text-align: start;
 margin-top: 0;
 margin-bottom: 0;
 font-family:cursive;
}
.pacoteTitle  h1 span{
 width: 2rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  position: relative;
  bottom: 0.5rem;
  color:  rgb(146, 117, 60);
}
.pacoteTitle h2{
  width: 40%;
 font-size: 2rem;
 color:  rgb(146, 117, 60);
  font-family:cursive;
 margin-top: 0;

}
.pacotes{
 background-color: rgba(22, 22, 22, 0.862);
  height: 27rem;
  width: 20.1rem;
  border-radius:  0.7rem;
 text-align: center;
 margin: 3rem 1rem;
 border: 1px solid transparent;
box-shadow: 10px 10px 10px rgba(84, 87, 45, 0.242);;
}
.pacotes h2{
  margin-top: 0.4rem;
  color: rgba(255, 255, 255, 0.676);
  font-size: 1.4rem;
}

.pacotes p{
font-size: 1rem;
font-weight: bold;
color: gray;
margin: 0.4rem 0 0.3rem 0;
}
.pacotePreco{
 display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.pacotePreco p:last-child {
  font-size: 1.2rem;
  color: rgb(146, 117, 60);
  letter-spacing: -1px;
}
.pacotes a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pacotes a:first-of-type {
 border: 1px solid transparent;
 color: black;
 background-color:  rgb(204, 149, 40);
  padding: 0.8rem;
  border-radius: 0.8rem;
    opacity: 0.8;
  transition: 0.4s;
  width: 11rem;
  margin: 0 auto 1rem;
}
.pacotes a:first-of-type:hover{
opacity: 1;

}
.pacotes a:last-child{
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.7s;
  letter-spacing: -1px;
}
.pacotes a:last-child:hover{
  color: rgb(53, 53, 53);
}
.maispacote a{
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 2rem auto;
  padding: 1.3rem;
  border-radius: 1rem;
  background-color: rgb(204, 149, 40);
  border: 1px solid  rgb(146, 117, 60);
  color:  rgb(1, 1, 1);
  transition: 0.5s;
}
.maispacote a:hover{
  background-color: transparent;
  border: 1px solid   rgb(146, 117, 60);
  color:    rgb(146, 117, 60);
}


/* WhyUs.module.css */
/* CARDS  */
.section {
  display: flex;
  flex-direction: column;
margin: 0;
height: 35rem;
  width: 100%;
 background-color: rgb(0, 0, 0);

}
.sectionTitle{
  width: 90%;
  height: 15%;
  margin: 1rem  9rem 0;
  color: wheat;
  
}
.sectionTitle h2{
  width: 30%;
 font-size: 2rem;
 color:  rgb(146, 117, 60);
  font-family:cursive;
 margin-top: 0;
}
.sectionTitle h1{
 font-size: 1rem;
 text-align: start;
 margin-top: 0;
 margin-bottom: 0;
 font-family:cursive;
}
.sectionTitle  h1 span{
 width: 2rem;
  margin-left: 0.5rem;
  font-size: 2rem;
  position: relative;
  bottom: 0.5rem;
}


.container{
  width: 80%;
  height: 50rem;
  margin: 5rem auto;
  color: rgb(155, 153, 149);
  display: flex;
  gap: 2rem;
}
.cardItem{
  width: 90%;
  height: 100%;
 border-radius: 0.5rem;
  text-align: center;
   background-color: rgba(22, 22, 22, 0.455);
  transition: 0.2s;
  }
.cardItem:hover{
  transform: translateY(-8px);
}
.cardItem h4{
  width: 8rem;
  margin: 0 auto;
  font-size: 1.1rem;
  color: white;
}
.cardItem p {
  width: 17rem;
  margin: 2rem auto;
  font-size: 1rem;
}
.cardItem a{
  border: 1px solid rgb(146, 117, 60);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(146, 117, 60);
}
.cardItem a:hover{
  border: 1px solid rgb(0, 0, 0);
  background-color:  rgb(146, 117, 60);
  color: rgb(0, 0, 0);
}
.sobreSection{
  background: linear-gradient(rgba(22, 22, 22, 0.831),rgba(8, 5, 5, 0.814)), url(../assets/drink1.jpeg);
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sobre{
  width: 43%;
  height: 30rem;
  margin-left: 9rem;
  margin-top: 4rem;
  gap: 1rem;
}
.sobreNos{
  color: rgb(146, 117, 60);
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.sobre h3{
 width: 30rem;
 font-size:2rem;
   font-family: "Montserrat", sans-serif;
   line-height: 2.6rem;
   margin-bottom: 0.5rem;
   color: beige;
}
.sobre span{
  color:rgb(146, 117, 60);
  font-size: 3rem;
}

 .sobre h5{
  width: 33rem;
  line-height: 1.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 1.5rem 0;
  margin-top:0.2rem ;
  color: rgb(225, 219, 219);
  font-size: 1.5rem;
  font-weight: 600;
}
.sobre h5  span{
  color:rgb(146, 117, 60);
  font-size: 1.5rem;
  font-weight: bold;
}
.sobreBtn a{
background-color: transparent;
border:2px solid rgb(146, 117, 60);
color:  rgb(146, 117, 60);
padding: 1rem;
border-radius: 1rem;
margin-left: 24rem;
transition: 0.8s;
}
.sobreBtn a:hover{
background-color: rgb(146, 117, 60);
color: black;

}

.sobrefotos{
  height: 40%;
  margin: 2rem 3rem;
  border-radius: 1rem;
}
.sobrefotos img{
  height: 60%;
  width: 70%;
  margin: 6rem 3rem;
  border-radius: 1rem;
}

/* BARTENDERS  */
/* USADO PARA TODAS AS IMG */
figure img, figure iframe{
  width: 36rem;
  height: 25rem;
  border-radius: 0.7rem;
}
/* USADO PARA TODAS AS IMG */

.sectionBartenders{
   width: 100%;
  background: linear-gradient(rgba(22, 22, 22, 0.822),rgba(8, 5, 5, 0.814)), url(../assets/drink9.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;

}
.conhecerAmbiente{
  width: 80%;
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}
.frase{
  width: 50%;
  font-size: 3rem;
  color:  rgb(168, 132, 61);
  padding: 2rem; 
   display: flex;
  justify-content: center;
  font-weight: bold;
}

/* DETALHES */
.detalhes{
  width: 80%;
display: flex;
  color: black;
}
.contentDetalhes{ 
  width: 45%;
  padding-left: 8rem;
  font-weight: bold;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentDetalhes h1{
  font-size: 3rem;
  font-weight: 700;
  color:  rgb(165, 129, 56);
}
.listaDetalhes{
  margin: 1.4rem;
  color: rgb(226, 216, 216);
}
.listaDetalhes .listEspecial{
 font-weight: bold;
 color: #a79f9f;
}
.listaDetalhes li{
 list-style:outside;
 font-size: 1.5rem;
 font-weight: 600;
 line-height: 2rem;
}

/* OBJETOS */

.objetos{
  width: 80%;
   gap: 20px;
  height: auto;
  display: flex;
  color: black;
}
.objetosItens{
  width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.objetosItens h1{
  font-size: 2.6rem;
  font-weight: 700;
  color:  rgb(146, 117, 60);
}
.listaObjetos{
  margin: 1.5rem;
  color: rgb(226, 216, 216);
}
.listaObjetos li{
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  list-style:outside ;
}
.listaObjetos .liBold{
  font-weight: bold;
  color: rgb(143, 139, 139);
}