span{
  color: rgb(146, 117, 60);
}
.navSobre{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 26rem;
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1)),url(../assets/drink5.jpeg);
  align-items: center;
  justify-content: center;
}
.navSobre h1{
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1px;
  font-style: italic;
  color: rgb(146, 117, 60);
}
.navSobre p{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0  2rem 0;
  color: white;
 
}

.sobre{
  background: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20,20,20,1)),url(../assets/drink6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contentSobre{
  display: flex;
width: 100%;
}

 .SobreInfo{
  width: 50%;
}


.SobreInfo h3{
  font-size: 2rem;
  width: 20rem;
  text-align: center;
  margin: 2rem auto ;
  color:#aba7a7;
  font-family: 'Montserrat', sans-serif;


}
.vivaHoje{
  color:  rgb(222, 153, 16);
}
.SobreInfo p{
  font-size: 1.4rem;
  width: 35rem;
  text-align:start;
  margin: 0 auto;
  font-weight: 600; 
  color:#f0ecec;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}
 img{
  width: 50%;
  border-radius: 0;
}

