.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs a {
  text-decoration: none;
  color:  rgb(146, 117, 60);
  font-size: 2rem;
  font-style:italic;
}

.breadcrumbs span {
  color: #6c757d;
  font-size: 2rem;
  font-style:italic;
}

/* Responsividade */
@media (max-width: 768px) {
  .breadcrumbs a {
    font-size: 1.5rem;
  }
  
  .breadcrumbs span {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .breadcrumbs {
    margin-bottom: 15px;
  }
  
  .breadcrumbs a {
    font-size: 1.2rem;
  }
  
  .breadcrumbs span {
    font-size: 1.2rem;
  }
}
