.whatsappIcon {
  position: fixed;
  bottom: 2rem;
  right: 2.6rem;
  z-index: 1000;
}
.whatsappIcon img{
  height: 3.3rem;
  width: 3.5rem;
}
.playIcon {
  animation: pulse 1.5s infinite;
  cursor: pointer;
  z-index: 1; /* O ícone ficará sobre a bola */
  transition: transform 0.3s ease-in-out;
}

.bolaZap {
  position: fixed;
  bottom: 1.7rem;
  right: 2.2rem;
  width: 4.3rem; /* Ajuste o tamanho conforme necessário */
  height:4.3rem; /* Ajuste o tamanho conforme necessário */
  border-radius: 50%;
  background-color: rgb(16, 168, 34); /* Cor e opacidade da bola */
  z-index: 0; /* Bola ficará abaixo do ícone */
  animation: pulseBall 1.5s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseBall {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.4);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}