:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 39 42% 40%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 39 42% 40%;
  --radius: 0.5rem;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: black;
  background-color: rgba(0, 0, 0, 0.711);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  position: sticky;
}
a{
  font-weight: 500;
  text-decoration: inherit;
  color: rgba(255, 255, 255, 0.87);
}
h3{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}
img{
  width: 100%;
  height: 40rem;
}
select{
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.6rem;
}


